
    .main{
        height: 100vh;
    }
    .sidebar{
        background-color: #333;
        color: aliceblue;
    }

    .sidebar a{
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 40px 60px; 
    }
    
    .sidebar a:hover{
        background-color: crimson;
    }

    .sidebar a.active{
        background-color: black;
        border-right: solid 4px crimson;
    }

    .content{
        padding: 20px
    }

    .card-data{
        border:solid 1px;
        color: rgb(255, 255, 255);
        padding: 20px 40px;
        border-radius: 5px;
        box-shadow: rgb(100, 100, 100)5px 5px;
    }

    .card-data.book{
        background-color: crimson;
    }

    .card-data i{
        font-size: 30px;
    }

    .card-desc{
        font-size: 15px;
    }

    .card-count{
        font-size: 15px;
    }

    .card-data.category{
        background-color: rgb(0, 0, 0);
    }

    .card-data i{
        font-size: 30px;
    }

    .card-desc{
        font-size: 15px;
    }

    .card-count{
        font-size: 15px;
    }

    .card-data.user{
        background-color: crimson;
    }

    .card-data i{
        font-size: 30px;
    }

    .card-desc{
        font-size: 15px;
    }

    .card-count{
        font-size: 15px;
    }

    .table{
        box-shadow: #333 5px 5px;
        border-collapse: collapse;
        border-radius: 10px 10px;
    }

    .table thead{
        background-color: crimson;
        color: #fff;
        border-radius: 10px 10px;
    }